@media screen and (max-width:  1280px) {
    header{
        margin-left: 0;
    }
    ul li.nav-item{
        padding-right: 0;
    }
    .no-bullets{
        margin-left: 0em;
        gap: 5em;
    }
    .logo{
        padding-right: 15em;
    }
    .section-left{
        margin-right: 0em;
    }
    .section-right{
        margin-right: 10em;
    }
    .section-consulting{
        display: flex;
        flex-direction: column;
    }
    .section-consulting-left {
        width: 26.20681rem;
        height: 18.1875rem;
        margin-top: 6em;
        margin-left: 25em;
        margin-bottom: 0;
    }
    .section-consulting-right{
        margin-right: 5em;
    }
    .map img{
        width: 90%;
    }
    footer{
        padding-right: 5em;
        padding-left: 5em;
    }
    .footer-menu{
        gap:2em;
    }
    section{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1180px){
    .logo {
    padding-right: 0em;
}
}

@media screen and (max-width:  1024px) {

    header{
        margin-left: 0;
    }
    .logo{
        padding-right: 0em;
    }
    ul li.nav-item{
        padding-right: 0;
    }
    .no-bullets{
        margin-left: 0em;
        gap: 5em;
    }
    section{
        margin-left: 10em;
        margin-right: 10em;
    }
    .companies {
        margin-top: 2em;
    }
    .section-left h1 {
        font-size: 3rem;
    }
    .section-right img{
        display: none;
    }
    .card{
        display: none;
    }
    .section-consulting{
        display: flex;
        flex-direction: column;
        
    }
    .section-consulting-left {
        width: 26.20681rem;
        height: 18.1875rem;
        margin-top: 2em;
        margin-left: 16em;
        margin-bottom: 0; 
    }
    .section-consulting-right {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 6em;
        margin-bottom: 12em;
        margin-left: 5em;
        margin-right: 5em;
        gap: 2rem;
    }
    
    .stat{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    .style-element {
        margin-inline: 20em;
        margin-top: 2em;
        margin-bottom: 2em;
        border-bottom: 0.5px solid #ffffff;
    }
    
    .card-testimonials{
        display: flex;
        gap: 1.5em;
        flex-direction: column;
      
    }
    .questions p {
        margin-right: 2em;
    }
    footer{
        padding-right: 5em;
        padding-left: 5em;
        justify-content: center;
    }
    .footer-menu{
        gap:2em;
        
    }
    
    .contact-section{
        display: grid;
        grid-template-columns:  auto;
    }
    .about-info h1{
        font-size: 3em;
    }
    .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-box{
        width: 25.5625rem;
        height: 23.48831rem;
    }

}

@media screen and (max-width:  960px){
    footer{
        flex-direction: column;
    }
    .section-hero{
        flex-wrap: wrap;
    }
    .section-hero-left img{
        display: none;
    }
  .about-info{
    padding-left: 5em;
}

.section-consulting-left{
    margin-left: 15em;
}
.style-element {
    margin-inline: 5em;
}
.section-consulting-right {
    margin-left: 5em;
}
.no-bullets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
.toggle {
    order: 1;
    display: inline-block;
    padding-left: 40em;
  }
  .nav-item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
  }
  .nav-item.active {
    display: block;
  }
  .dropdown-menu {
    position: static;
  }
}
@media screen and (max-width: 925px){
    .toggle {
        padding-left: 38em;
      }
    
}
@media screen and (max-width: 878px) {
    .contact-section {
        padding: 0 0 5em 8em;
    }
    .map{
        margin-top: 0em;
    }
    .contact-section input{
    width: 60%;
}
.section-consulting-right {
    margin-left: 3.5em;
}
.toggle {
    order: 1;
    display: inline-block;
    padding-left: 26em;
  }
.contact-section select{
    width: 60%;
}
.map img{
    width: 90%;
}
}

@media screen and (max-width: 720px){
    .toggle{
        padding-left: 25em;
    }
    .section-consulting-left {
        margin-left: 5em;
    }
}
@media screen and (max-width:680px){
    .toggle {
        padding-left: 20em;
      }
    .card-test {
        width: 15.75rem;
        height: 25.75rem;
    }
    .triangle {
        margin-left: 7em;

}
.socialmedia {
    margin-bottom: 2em;
}
}
@media screen and (max-width:590px){
    .toggle {
        padding-left: 10em;
}
}
@media screen and (max-width:500px){
    .section-consulting-left {
        margin-left: 3em;
    }
}

@media screen and (max-width:450px){
    .section-consulting-right {
        grid-template-columns: auto;
}
.questions {
    margin-left: 5em;
}
.section-consulting-left {
    margin-left: 0.5em;
}
.section-consulting-left p{
    letter-spacing: 0rem;
}

.section-consulting-right {
    margin-left: 5em;
}
.contact-section {
    padding: 0 0 5em 5em;
}
.map{
    margin-top: 0em;
}
.toggle {
    padding-left: 2em;
}
}
