
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@100&display=swap');

* {
	box-sizing: border-box;
    scroll-behavior: smooth; 
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10em; */

}
.logo{
    display: flex;
    gap: 10px;
    padding-right: 20em;
}
.logo a{
    text-decoration: none;
    color: #094B72;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: 23px; /* 115% */
    letter-spacing: 1.5px;
    padding-top: 10px;
}
.no-bullets{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 7em;
    /* gap: 5em; */
}
ul li.nav-item{
    padding-right: 5em;
    padding-top: 10px;
}
.nav-link {
    text-decoration: none;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
    line-height: 1.4375rem; /* 191.667% */
    letter-spacing: 0.09375rem;
}
.toggle{
    cursor: pointer;
    display: none;
    padding-left: 15em;
  }
  .bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
    margin-bottom: 5px;
  }
  .bars:before,.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
    top: -5px;
  }
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8em;
    margin-left:10em;
}
.section-left h1 {
    color: #094B72;
    font-family: 'Playfair Display', serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 120%; /* 6.75rem */
    letter-spacing: 0.1125rem;
}
.section-left p{
    color:  #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 158%; /* 2.37rem */
    letter-spacing: 0.03125rem;
}

.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 140.5%; /* 1.405rem */
    letter-spacing: 0.08rem;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 0.5rem;
    margin-bottom: 40px;
}
.companies{
    margin-top: 8em;
}
.companies-images{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 4em;
}

.section-left h2{
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: bold;
    line-height: 140.5%; /* 1.93188rem */
    letter-spacing: 0.055rem;
}
.section-right img{
    margin-top:1em ;
    height: 90%;
}
.card{
    position: absolute;
    margin-top: 0.15em;
    width: 23.875rem;
    height: 7.125rem;
    border-radius: 0.625rem;
    background: #FFF;
    filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
    margin-left: 11em;
}
.card h2{
    color: #33475B;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 2.25rem; /* 150% */
}
.card h2{
    color: #87898C;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 225% */
}
.section-consulting{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F7FF;
    width: 100%;
    
}
.section-consulting-left{
    width: 26.20681rem;
    height: 18.1875rem;
    flex-shrink: 0;
    margin-top: 15em;
    margin-left: 10em;
    margin-bottom: 15em;
}

.section-consulting-left h2{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 0.02019rem;
}
.section-consulting-left p{
    color: grey;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 180% */
    letter-spacing: 0.03125rem;
}
.section-consulting-right{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 12em;
    margin-bottom: 12em;
    margin-left: 5em;
    margin-right: 10em;
    gap: 2rem;
}
.card-section-consulting{
    border-radius: 0.5rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    padding: 1.5em 1.5em 1.5em 1.5em;
}
.card-section-consulting h2{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.375rem; /* 100% */
    letter-spacing: 0.03125rem;
}
.card-section-consulting p{
    color: grey;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.01875rem;
}
.count{
    background-image: url(../images/BG.svg);
    background-size: cover;
    background-position: center;
    margin-top: -2.6em;
}

.stat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 24em;
    margin-right: 20em;
    text-align: center;

}
.sous-count h2{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.015rem;
    padding-top: 30px;
}
.sous-count h3{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem; /* 177.778% */
    letter-spacing: 0.03125rem;
}
.style-element{
    border-left: 0.5px solid #ffffff; /* 2px black solid left border */
    border-right: 0.5px solid #ffffff; /* 2px black solid right border */
    margin-top: 2em;
    margin-bottom: 2em;
}
.stat h2{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
}
.stat h3{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem; /* 177.778% */
    letter-spacing: 0.00338rem;
    padding-bottom: 10px;
}
.testimonials{
    background: #F2F7FF;
    margin-top: -0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grand-title h2{
    color: black;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.03125rem;
    justify-content: center;
    padding-top: 30px;
}
.card-testimonials{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.card-test{
    border-radius: 0.5rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    width: 33.75rem;
    height: 13.75rem;
} 

.card-test h2{
    color: black;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.75rem; /* 155.556% */
    padding-top: 2em ;
    
}
.triangle {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255); /* Red color */
    clip-path: polygon(50% 100%, 0 0, 100% 0); /* Triangle with top vertex flipped */
    margin-left: 15em;
  }
  
.card-test p{
    color: grey;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.03125rem;
    padding-left: 2em;
    padding-right: 2em;
}
.client{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.client h2{
    color: black;
    font-feature-settings: 'salt' on, 'liga' off;
    padding-top: 20px;
    /* Subtitle / Subtitle 1 */
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.75rem; /* 155.556% */
}
.client h3{
    color: black;
    font-feature-settings: 'salt' on, 'liga' off;
    padding-bottom: 20px;
    /* Body / Body 2 */
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
}
.questions{
    margin-left: 10em;
}
.questions h2{
    color: rgb(0, 0, 0);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.03125rem;  
}
.questions p{
    color: grey;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 150% */
    letter-spacing: 0.03125rem;
    margin-right: 28em;
}
.call{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: #094B72;
    color: #ffffff;
    margin-right: 65em;
    margin-bottom: 2.5em;
    width: 13.6875rem;
    height: 4rem;
}
.call i{
    padding-top: 22px;
    padding-left: 50px;
}
.call h3{
    padding-left: 15px;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
    background-color: #094B72;
}
.footer-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    margin-top: 6em;
    margin-bottom: 10em;
}

.footer-logo{
    margin-top: 5em;
}
.menu a{
    list-style-type: none;
    text-decoration: none;
    color: #F9F8F9;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.875rem; /* 150% */
    margin-left: 2em;
}
.menu-title{
    padding-left: 2.5em;
}
.menu ul{
    list-style-type: none;
}
.copyrights-socialmedia{
    background-color: #004D7B;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
}
.copyrights h2{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
}
.socialmedia{
    padding-top: 0.8em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    color: #fff;
}

/*about us*/
.section-hero{
    display: flex;
    padding-top: 4em;
    padding-right: 10em;
}
.about-info h1{
    color: #094B72;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 140.5%; /* 7.90313rem */
    letter-spacing: 0.45rem;
}
.about-info p{
  color: grey;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 158%; /* 2.37rem */
  letter-spacing: 0.03125rem;
}
.companies{
    margin-bottom: 2em;
}
/*end about*/

/*services section*/

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
}
.services-title{
    color: #094B72;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    justify-content: center;
    text-align: center;
}
.card-box{
    background: #FFF;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
    width: 25.5625rem;
    height: 23.48831rem;
}
.card-box img{
    padding: 1.5em 9em 2em 10em;
}
.card-box h2{
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
}
.card-box p{
    color: #000;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.service-button{
    display: flex;
    justify-content: center;
}
.services-btn{
    border-radius: 0.5rem;
    background: #094B72;
    width: 14.875rem;
    height: 5rem;
    color: #FFF;
    margin-bottom: 3em;
    margin-top: 3em;
    font-size: 1.5em;
    justify-items: center;
}
/*end services*/

/*contact section*/
.contact-section{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5em;
    background:#F2F7FF;
    padding: 5em 10em 5em 10em;
}
.heading_container h2{
    color: #094B72;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.contact-section input{
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: #000000;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact-section select{
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: gray;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);

}
.contact-section button {
    border: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 55px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 0;
    color: #ffffff;
    margin-top: 15px;
  }
  .map{
    margin-top: 6em;
  }
span{
    color: red;
}
span i{
    color: green;
}