
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Playfair+Display&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@100&display=swap');
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10em;

}
.no-bullets{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 8em;
}
ul li.nav-item{
    padding-right: 5em;
}
.nav-link {
    text-decoration: none;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;
    line-height: 1.4375rem; /* 191.667% */
    letter-spacing: 0.09375rem;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8em;
    margin-left:10em;
}
.section-left h1 {
    color: #094B72;
    font-family: 'Playfair Display', serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 120%; /* 6.75rem */
    letter-spacing: 0.1125rem;
}
.section-left p{
    color:  #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 158%; /* 2.37rem */
    letter-spacing: 0.03125rem;
}

.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 140.5%; /* 1.405rem */
    letter-spacing: 0.08rem;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 0.5rem;
    margin-bottom: 40px;
}
.companies{
    margin-top: 8em;
}
.section-left h2{
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: bold;
    line-height: 140.5%; /* 1.93188rem */
    letter-spacing: 0.055rem;
}
.card{
    position: absolute;
    margin-top: 5rem;
    width: 23.875rem;
    height: 7.125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    filter: drop-shadow(0px 39px 100px rgba(25, 62, 108, 0.12));
    margin-left: 10em;
}
.card h1{
    color: #33475B;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 2.25rem; /* 150% */
}
.card h2{
    color: #87898C;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 225% */
}
.section-why{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F2F7FF;
    
}
.why-left{
    width: 26.20681rem;
    height: 18.1875rem;
    flex-shrink: 0;
    margin-top: 15em;
    margin-left: 10em;
    margin-bottom: 15em;
}

.why-left h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
     letter-spacing: 0.02019rem;
}
.why-left p{
    color: grey;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 180% */
    letter-spacing: 0.03125rem;
}
.why-right{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 12em;
    margin-bottom: 12em;
    margin-left: 5em;
    margin-right: 10em;
    gap: 2rem;
}
.card-why{
    border-radius: 0.5rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    padding: 5em 5em 5em 5em;
}
.card-why h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.375rem; /* 100% */
    letter-spacing: 0.03125rem;
}
.card-why p{
    color: grey;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.01875rem;
}
.count{
    background-image: url(images/BG.png) ;
    background-size: cover;
    background-position: center;
    margin-top: -2em;
}

.stat{
    display: flex;
    justify-content: space-between;
    margin-left: 24em;
    margin-right: 20em;
    text-align: center;

}
.sous-count h1{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.015rem;
    padding-top: 30px;
}
.sous-count h2{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem; /* 177.778% */
    letter-spacing: 0.03125rem;
}
.stat h1{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
}
.stat h2{
    color: white;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2rem; /* 177.778% */
    letter-spacing: 0.00338rem;
    padding-bottom: 10px;
}
.testimonials{
    background: #F2F7FF;
    margin-top: -0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grand-title h1{
    color: black;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.03125rem;
    justify-content: center;
    padding-top: 30px;
}
.card-testimonials{
    display: flex;
    gap: 1em;
  
}

.card-test{
    border-radius: 0.5rem;
    background: #FCFCFC;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    width: 33.75rem;
    height: 13.75rem;
    

} 
.card-test h1{
    color: black;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.75rem; /* 155.556% */
    padding-top: 2em ;
    
}
.card-test p{
    color: grey;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
    letter-spacing: 0.03125rem;
    padding-left: 2em;
    padding-right: 2em;
}
.client{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.client h1{
    color: black;
    font-feature-settings: 'salt' on, 'liga' off;
    padding-top: 20px;
    /* Subtitle / Subtitle 1 */
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.75rem; /* 155.556% */
}
.client h2{
    color: black;
    font-feature-settings: 'salt' on, 'liga' off;
    padding-bottom: 20px;
    /* Body / Body 2 */
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
}
.questions{
    margin-left: 10em;
}
.questions h1{
    color: rgb(0, 0, 0);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 4rem; /* 133.333% */
    letter-spacing: 0.03125rem;  
}
.questions p{
    color: grey;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    line-height: 2.25rem; /* 150% */
    letter-spacing: 0.03125rem;
    margin-right: 28em;
}
.call{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: #094B72;
    color: #ffffff;
    margin-right: 65em;
    margin-bottom: 2.5em;
}
.call i{
    padding-top: 22px;
    padding-left: 100px;
}
.call h3{
    padding-left: 15px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
    background-color: #094B72;
}
.footer-menu{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 4em;
    margin-top: 6em;
    margin-bottom: 10em;
}
.footer-logo{
    margin-top: 5em;
}
.menu h1{
    color: #F9F8F9;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 1.875rem; /* 150% */
}
.menu h2{
    color: white;
    /* Body / Body 1 */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.625rem; /* 162.5% */
}
.copyrights-socialmedia{
    background-color: #004D7B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10em;
    padding-right: 10em;
}
.copyrights h1{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem; /* 171.429% */
}
.socialmedia{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    color: #fff;
}

/*about us*/
.section-hero{
    display: flex;
    padding-top: 4em;
    padding-right: 10em;
}
.about-info h1{
    color: #094B72;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 140.5%; /* 7.90313rem */
    letter-spacing: 0.45rem;
}
.about-info p{
  color: var(--neutral-grey-6, #4F4F4F);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 158%; /* 2.37rem */
  letter-spacing: 0.03125rem;
}
/*end about*/

/*services section*/
.cards-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    padding-left: 5em;
    padding-right: 5em;
}
.services-title{
    color: #094B72;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    justify-content: center;
    text-align: center;
}
.card-box{
    background: #FFF;
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}
.card-box img{
    padding: 1em 9em 2em 10em;
}
.card-box h2{
    color: #000;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
}
.card-box p{
    color: #000;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-left: 1em;
    padding-right: 1em;
}
.services-btn{
    border-radius: 0.5rem;
    background: #094B72;
    width: 14.875rem;
    height: 5rem;
    color: #FFF;
    margin-left: 40em;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-right: 40em;
}
.services-btn h2{
    text-align: center;
    ;padding-top: 1em;
}
/*end services*/

/*contact section*/
